<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Page</title>
</head>
<body>

<nav class="nav-bar">
    <button class="hamburger">
        <ul class="nav-links">
            <li>
                <a href="#">Kopen</a>
                <a href="#">Huren</a>
                <a href="#">Verkopen</a>
            </li>
        </ul>
    </button>
    <img class="logo" src="/public/images/Funda-Logo-full-RGB.png">
    <div class="nav-buttons">
        <a href="#">Mijn Huis</a>
        <a href="#">Favorieten</a>
        <a href="#">Inloggen</a>
    </div>
</nav>
    