<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Page</title>
    <link rel="stylesheet" href="../header.css">
    <link rel="stylesheet" href="../listing.css">
    <link rel="stylesheet" href="../stylesheet.css">
</head>

<body>

    <nav class="nav-bar">
        <button class="hamburger-menu" id="toggle-menu" aria-label="Toggle menu">
            {% render 'partials/hamburger.liquid' %}
        </button>

        <ul class="nav-links" id="nav-links">
            <li><a href="#">Kopen</a></li>
            <li><a href="#">Huren</a></li>
            <li><a href="#">Verkopen</a></li>
        </ul>

        <a href="https://www.funda.nl/">
            {% render 'partials/logo.liquid' %}
        </a>

        <ul class="hidden-nav-links">
            <li>
                <a href="#">Kopen</a>
                <a href="#">Huren</a>
                <a href="#">Verkopen</a>
            </li>
        </ul>

        <div class="nav-buttons">
            <a href="https://www.funda.nl/mijn-huis/toevoegen/">
                {% render 'partials/mijn-huis.liquid' %}
            </a>

            <a href="https://www.funda.nl/favorieten/">
                {% render 'partials/favorieten.liquid' %}
            </a>

            <a
                href="https://login.funda.nl/account/login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Dfunda-app-js-client%26scope%3Dopenid%2520profile%2520funda_basic%2520funda_login_metadata%2520funda_api%2520offline_access%26response_type%3Dcode%26redirect_uri%3Dhttps%253A%252F%252Fwww.funda.nl%252Ffavorieten%252Fauth%252Foidc%252Fsignin-callback%252F%26code_challenge%3DfShv4ZelQ77ETES4LGbO8Y3OxJMknJ2PE3g85FeSUaY%26code_challenge_method%3DS256%26state%3D057cc41d6cb5cee3083660e22111a1984e36c68e">
                {% render 'partials/account.liquid' %}
            </a>
        </div>
    </nav>

    <script>

        // de button en links aanspreken
        const toggleBtn = document.getElementById('toggle-menu');
        const navLinks = document.getElementById('nav-links');


        // een click event toevoegen op het menu waardoor er na de klik een extra class name wordt toegevoegd en het menu wordt geopend
        toggleBtn.addEventListener('click', () => {
            navLinks.classList.toggle('show');
        });
    </script>

    <main>