<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Page</title>
    <link rel="stylesheet" href="../header.css">
    <link rel="stylesheet" href="../listing.css">
    <link rel="stylesheet" href="../stylesheet.css">
</head>

<body>

    <nav class="nav-bar">
        <button class="hamburger-menu" id="toggle-menu" aria-label="Toggle menu">
            <svg width="38" height="52" viewBox="0 0 38 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="38" height="52" rx="4" fill="#FF9B21" />
                <path
                    d="M10 11C10 10.5858 10.3358 10.25 10.75 10.25H25.75C26.1642 10.25 26.5 10.5858 26.5 11C26.5 11.4142 26.1642 11.75 25.75 11.75H10.75C10.3358 11.75 10 11.4142 10 11Z"
                    fill="white" />
                <path
                    d="M10 16C10 15.5858 10.3358 15.25 10.75 15.25H27.25C27.6642 15.25 28 15.5858 28 16C28 16.4142 27.6642 16.75 27.25 16.75H10.75C10.3358 16.75 10 16.4142 10 16Z"
                    fill="white" />
                <path
                    d="M10.75 20.25C10.3358 20.25 10 20.5858 10 21C10 21.4142 10.3358 21.75 10.75 21.75H21.75C22.1642 21.75 22.5 21.4142 22.5 21C22.5 20.5858 22.1642 20.25 21.75 20.25H10.75Z"
                    fill="white" />
                <path
                    d="M11.776 43V36.34L9.052 43H8.644L5.932 36.34V43H4.936V34.996H6.364L8.848 41.092L11.344 34.996H12.772V43H11.776ZM14.2671 40.096C14.2671 38.416 15.4671 37.06 17.1231 37.06C18.8751 37.06 19.9071 38.428 19.9071 40.168V40.396H15.2151C15.2871 41.488 16.0551 42.4 17.3031 42.4C17.9631 42.4 18.6351 42.136 19.0911 41.668L19.5231 42.256C18.9471 42.832 18.1671 43.144 17.2191 43.144C15.5031 43.144 14.2671 41.908 14.2671 40.096ZM17.1111 37.804C15.8751 37.804 15.2631 38.848 15.2151 39.736H19.0191C19.0071 38.872 18.4311 37.804 17.1111 37.804ZM25.2768 43V39.208C25.2768 38.188 24.7608 37.864 23.9808 37.864C23.2728 37.864 22.6008 38.296 22.2648 38.764V43H21.3648V37.204H22.2648V38.044C22.6728 37.564 23.4648 37.06 24.3288 37.06C25.5408 37.06 26.1768 37.672 26.1768 38.932V43H25.2768ZM31.8862 43V42.184C31.4422 42.688 30.6862 43.144 29.8222 43.144C28.6102 43.144 27.9742 42.556 27.9742 41.296V37.204H28.8742V41.02C28.8742 42.04 29.3902 42.34 30.1702 42.34C30.8782 42.34 31.5502 41.932 31.8862 41.464V37.204H32.7862V43H31.8862Z"
                    fill="white" />
            </svg>

        </button>

        <ul class="nav-links" id="nav-links">
            <li><a href="#">Kopen</a></li>
            <li><a href="#">Huren</a></li>
            <li><a href="#">Verkopen</a></li>
        </ul>

        <a href="https://www.funda.nl/">
            <svg class="logo" width="88" height="32" viewBox="0 0 88 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M66.4654 32H0L5.38657 11.8662C7.25806 4.86653 13.598 0 20.8417 0H87.307L81.9204 20.1338C80.049 27.1319 73.709 31.9984 66.4638 31.9984L66.4654 32Z"
                    fill="#64C1ED" />
                <path
                    d="M8.64164 12.7554L4.41553 28.554H66.5376C72.2227 28.554 77.1968 24.7339 78.6654 19.243L82.8915 3.44446H20.7694C15.0843 3.44446 10.1103 7.26449 8.64164 12.7554Z"
                    fill="#6A281C" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M61.9872 23.2284C62.6517 23.8142 63.5779 24.1063 64.7608 24.1063C65.6115 24.1063 66.3835 23.933 67.0753 23.5879C67.7574 23.2524 68.2919 22.8175 68.6739 22.283C68.6851 22.2669 68.7108 22.275 68.7108 22.2942V23.8463C68.7108 23.8688 68.7285 23.8864 68.7509 23.8864H71.3255C71.3479 23.8864 71.3656 23.8688 71.3656 23.8463V17.2608C71.3656 15.89 70.9338 14.8195 70.0687 14.0474C69.2036 13.2754 67.9725 12.8902 66.3771 12.8902C65.1669 12.8902 64.1477 13.1229 63.3243 13.5884C62.9567 13.7938 62.6164 14.0266 62.3018 14.2866C62.2842 14.301 62.2826 14.3267 62.297 14.3428L63.825 16.1549C63.8395 16.1725 63.8652 16.1741 63.8828 16.1597C64.3451 15.7552 64.8041 15.5096 65.2311 15.3668C65.5585 15.2464 65.9341 15.1854 66.3578 15.1854C67.1427 15.1854 67.7285 15.3652 68.1137 15.7247C68.499 16.0843 68.6932 16.5561 68.6932 17.142V17.2415C68.6932 17.264 68.6755 17.2816 68.653 17.2816H65.8586C64.3547 17.2816 63.1718 17.601 62.3067 18.2399C61.4415 18.8787 61.0098 19.763 61.0098 20.8946C61.0098 21.8528 61.3356 22.6313 61.9872 23.23V23.2284ZM66.5376 21.6923C66.2182 21.7854 65.8923 21.832 65.5601 21.832C64.443 21.832 63.8844 21.4403 63.8844 20.6539C63.8844 20.2285 64.0578 19.8963 64.4029 19.6555C64.7624 19.4164 65.3547 19.296 66.1797 19.296H68.6643C68.69 19.296 68.7092 19.3201 68.7028 19.3441C68.6161 19.7358 68.4893 20.1772 68.202 20.5704C68.0126 20.8288 67.7157 21.1177 67.4364 21.2911C67.1571 21.4644 66.857 21.5976 66.5376 21.6907V21.6923Z"
                    fill="white" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M50.9476 23.7243C51.5784 23.9795 52.2284 24.1063 52.8977 24.1063C53.6088 24.1063 54.2508 23.9587 54.8286 23.6633C55.4 23.3648 55.8767 22.9587 56.2603 22.4467C56.2716 22.4306 56.2972 22.4387 56.2972 22.4579V23.8447C56.2972 23.8672 56.3149 23.8848 56.3374 23.8848H58.9921C59.0146 23.8848 59.0323 23.8672 59.0323 23.8447V8.06057C59.0323 8.0381 59.0146 8.02045 58.9921 8.02045H56.3374C56.3149 8.02045 56.2972 8.0381 56.2972 8.06057V14.354C56.2972 14.3733 56.2732 14.3813 56.2603 14.3668C55.8912 13.8805 55.4273 13.5017 54.8687 13.2289C54.3054 12.948 53.6617 12.8067 52.9379 12.8067C52.214 12.8067 51.5704 12.9415 50.9267 13.2096C50.2959 13.4648 49.7406 13.8404 49.2575 14.3363C48.7743 14.8323 48.3859 15.4294 48.0906 16.126C47.8097 16.8226 47.6685 17.601 47.6685 18.4581C47.6685 19.3152 47.8161 20.1145 48.1115 20.8111C48.4068 21.4949 48.7952 22.0839 49.2783 22.5799C49.7615 23.0759 50.3168 23.4579 50.9476 23.7259V23.7243ZM53.4499 21.4965C55.1448 21.4965 56.5187 20.1226 56.5187 18.4276C56.5187 16.7327 55.1448 15.3572 53.4499 15.3572C51.7549 15.3572 50.381 16.7311 50.381 18.4276C50.381 20.1242 51.7549 21.4965 53.4499 21.4965Z"
                    fill="white" />
                <path
                    d="M35.6709 13.0683C35.6709 13.0459 35.6886 13.0282 35.711 13.0282H38.4059C38.4284 13.0282 38.446 13.0459 38.446 13.0683V14.3315C38.446 14.3508 38.4717 14.3588 38.483 14.3427C38.8264 13.8709 39.255 13.5001 39.7734 13.2288C40.3224 12.9479 40.9403 12.8067 41.624 12.8067C42.9113 12.8067 43.9305 13.2096 44.6801 14.0137C45.4441 14.805 45.8261 15.9109 45.8261 17.3314V23.8463C45.8261 23.8687 45.8084 23.8864 45.786 23.8864H43.0381C43.0156 23.8864 42.998 23.8687 42.998 23.8463V17.5448C42.998 16.2929 41.9836 15.2785 40.7316 15.2785C39.4797 15.2785 38.4653 16.2929 38.4653 17.5448V23.8463C38.4653 23.8687 38.4476 23.8864 38.4252 23.8864H35.7126C35.6902 23.8864 35.6725 23.8687 35.6725 23.8463V13.0683H35.6709Z"
                    fill="white" />
                <path
                    d="M26.0243 13.0684C26.0243 13.0459 26.0066 13.0282 25.9841 13.0282H23.2379C23.2154 13.0282 23.1978 13.0459 23.1978 13.0684V19.5432C23.1978 20.9781 23.5669 22.0968 24.3036 22.9009C25.0404 23.7051 26.0804 24.1079 27.4207 24.1079C28.0916 24.1079 28.6935 23.9667 29.2296 23.6858C29.7464 23.4145 30.1765 23.0422 30.52 22.5719C30.5313 22.5558 30.5569 22.5639 30.5569 22.5831V23.8463C30.5569 23.8688 30.5746 23.8864 30.5971 23.8864L33.292 23.8672C33.3144 23.8672 33.3321 23.8495 33.3321 23.827V13.0491C33.3321 13.0266 33.3144 13.009 33.292 13.009L30.5585 13.0282C30.5361 13.0282 30.5184 13.0459 30.5184 13.0684V19.4115C30.5184 20.6522 29.512 21.6586 28.2713 21.6586C27.0306 21.6586 26.0243 20.6522 26.0243 19.4115V13.0684Z"
                    fill="white" />
                <path
                    d="M21.9443 8.09108C21.9508 8.0654 21.9315 8.04132 21.9058 8.04132H20.5816C19.6973 8.04132 18.9525 8.11515 18.349 8.26282C17.76 8.41048 17.2833 8.66569 16.9221 9.02683C16.5738 9.37512 16.3186 9.8438 16.1581 10.4345C16.0104 11.0235 15.9366 11.7618 15.9366 12.6462V12.9881C15.9366 13.0106 15.919 13.0282 15.8965 13.0282H14.1871C14.1646 13.0282 14.147 13.0459 14.147 13.0684V15.4808C14.147 15.5032 14.1646 15.5209 14.1871 15.5209H15.8965C15.919 15.5209 15.9366 15.5385 15.9366 15.561V23.8463C15.9366 23.8688 15.9543 23.8864 15.9767 23.8864H18.6508C18.6732 23.8864 18.6909 23.8688 18.6909 23.8463V15.561C18.6909 15.5385 18.7085 15.5209 18.731 15.5209H21.2654C21.2879 15.5209 21.3055 15.5032 21.3055 15.4808V13.0684C21.3055 13.0459 21.2879 13.0282 21.2654 13.0282H18.731C18.7085 13.0282 18.6909 13.0106 18.6909 12.9881V12.505C18.6909 12.0893 18.7101 11.7602 18.7519 11.5195C18.792 11.2643 18.8851 11.0701 19.0328 10.9368C19.1933 10.7892 19.4148 10.6961 19.6957 10.656C19.9765 10.603 20.3585 10.5757 20.8417 10.5757H21.2734C21.2911 10.5757 21.3071 10.5629 21.3119 10.5452L21.9427 8.09268L21.9443 8.09108Z"
                    fill="white" />
            </svg>
        </a>

        <ul class="hidden-nav-links">
            <li>
                <a href="#">Kopen</a>
                <a href="#">Huren</a>
                <a href="#">Verkopen</a>
            </li>
        </ul>

        <div class="nav-buttons">
            <a href="https://www.funda.nl/mijn-huis/toevoegen/">
                <svg width="57" height="52" viewBox="0 0 57 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="57" height="52" rx="4" fill="none" />
                    <path
                        d="M29.0605 6.46821L37.6665 16.0262C37.9435 16.3342 37.9185 16.8082 37.611 17.0857C37.303 17.3627 36.829 17.3377 36.552 17.0302L28.4995 8.08671L20.4485 17.0277C20.1715 17.3357 19.6975 17.3602 19.3895 17.0832C19.0815 16.8062 19.0565 16.3317 19.3335 16.0242L27.94 6.46621C27.9478 6.45733 27.9574 6.45137 27.967 6.44544C27.9747 6.44068 27.9824 6.43594 27.989 6.42971C28.0014 6.41832 28.0147 6.40913 28.0282 6.39986C28.036 6.39448 28.0438 6.38908 28.0515 6.38321C28.1095 6.33871 28.17 6.29971 28.2355 6.27471C28.2578 6.26617 28.2806 6.26149 28.3036 6.25678C28.3116 6.25515 28.3196 6.25351 28.3275 6.25171C28.3875 6.23721 28.4475 6.22571 28.5085 6.22571C28.5431 6.22655 28.5774 6.23309 28.6115 6.23962C28.6179 6.24083 28.6242 6.24204 28.6305 6.24321C28.6805 6.25221 28.7305 6.26121 28.7785 6.28021C28.828 6.30021 28.8735 6.33171 28.9185 6.36321C28.9256 6.36801 28.9327 6.37271 28.9398 6.3774C28.9673 6.39567 28.9948 6.41384 29.019 6.43771C29.0248 6.4432 29.0314 6.44722 29.0381 6.45127C29.0461 6.45606 29.054 6.46089 29.0605 6.46821Z"
                        fill="white" />
                    <path
                        d="M23.0003 24.2743H34.0003V15.6948L35.5003 17.3608V25.0243C35.5003 25.4378 35.1653 25.7733 34.7518 25.7743H22.2503C21.8358 25.7743 21.5003 25.4388 21.5003 25.0243V17.3613L23.0003 15.6953V24.2743Z"
                        fill="white" />
                    <path
                        d="M11.776 43V36.34L9.052 43H8.644L5.932 36.34V43H4.936V34.996H6.364L8.848 41.092L11.344 34.996H12.772V43H11.776ZM15.0471 36.232C14.7231 36.232 14.4471 35.956 14.4471 35.62C14.4471 35.284 14.7231 35.02 15.0471 35.02C15.3831 35.02 15.6591 35.284 15.6591 35.62C15.6591 35.956 15.3831 36.232 15.0471 36.232ZM14.6031 43V37.204H15.5031V43H14.6031ZM17.7424 36.232C17.4184 36.232 17.1424 35.956 17.1424 35.62C17.1424 35.284 17.4184 35.02 17.7424 35.02C18.0784 35.02 18.3544 35.284 18.3544 35.62C18.3544 35.956 18.0784 36.232 17.7424 36.232ZM18.1984 37.204V43.564C18.1984 44.704 17.5864 45.352 16.4944 45.352C16.2424 45.352 16.0384 45.328 15.8464 45.268L15.9664 44.512C16.0864 44.56 16.2544 44.572 16.3984 44.572C16.9264 44.572 17.2984 44.296 17.2984 43.564V37.204H18.1984ZM23.9058 43V39.208C23.9058 38.188 23.3898 37.864 22.6098 37.864C21.9018 37.864 21.2298 38.296 20.8938 38.764V43H19.9938V37.204H20.8938V38.044C21.3018 37.564 22.0938 37.06 22.9578 37.06C24.1698 37.06 24.8058 37.672 24.8058 38.932V43H23.9058ZM35.4089 43V39.328H30.7289V43H29.7329V34.996H30.7289V38.44H35.4089V34.996H36.4049V43H35.4089ZM42.1518 43V42.184C41.7078 42.688 40.9518 43.144 40.0878 43.144C38.8758 43.144 38.2398 42.556 38.2398 41.296V37.204H39.1398V41.02C39.1398 42.04 39.6558 42.34 40.4358 42.34C41.1438 42.34 41.8158 41.932 42.1518 41.464V37.204H43.0518V43H42.1518ZM45.2932 36.232C44.9692 36.232 44.6932 35.956 44.6932 35.62C44.6932 35.284 44.9692 35.02 45.2932 35.02C45.6292 35.02 45.9052 35.284 45.9052 35.62C45.9052 35.956 45.6292 36.232 45.2932 36.232ZM44.8492 43V37.204H45.7492V43H44.8492ZM47.0405 42.232L47.5085 41.584C47.8925 42.028 48.6245 42.412 49.4165 42.412C50.3045 42.412 50.7845 42.016 50.7845 41.452C50.7845 40.816 50.0765 40.612 49.2965 40.42C48.3125 40.192 47.1965 39.928 47.1965 38.728C47.1965 37.828 47.9765 37.06 49.3565 37.06C50.3405 37.06 51.0365 37.432 51.5045 37.9L51.0845 38.524C50.7365 38.104 50.1005 37.792 49.3565 37.792C48.5645 37.792 48.0725 38.152 48.0725 38.668C48.0725 39.232 48.7325 39.412 49.4885 39.592C50.4965 39.82 51.6605 40.108 51.6605 41.392C51.6605 42.364 50.8805 43.144 49.3805 43.144C48.4325 43.144 47.6285 42.856 47.0405 42.232Z"
                        fill="white" />
                </svg>
            </a>

            <a href="https://www.funda.nl/favorieten/">
                <svg width="64" height="52" viewBox="0 0 64 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="64" height="52" rx="4" fill="none" />
                    <path
                        d="M39.5001 8.92998C38.5606 8.02118 37.3072 7.50908 36.0001 7.49998C34.9176 7.49633 33.8638 7.8476 33.0001 8.49998C32.6215 8.78476 32.2848 9.12139 32.0001 9.49998C31.7153 9.12139 31.3787 8.78476 31.0001 8.49998C30.1376 7.84386 29.0838 7.48859 28.0001 7.48859C26.9164 7.48859 25.8626 7.84386 25.0001 8.49998C24.3762 8.96298 23.87 9.56634 23.5226 10.2612C23.1751 10.9561 22.9961 11.7231 23.0001 12.5C23.0001 20 31.0001 24.5 32.0001 24.5C33.0001 24.5 41.0001 20 41.0001 12.5C41 11.8351 40.8673 11.1769 40.6097 10.5639C40.3521 9.95088 39.9749 9.39541 39.5001 8.92998ZM32.0001 22.93C29.3172 21.6026 27.0997 19.4932 25.6401 16.88C24.9084 15.5348 24.5171 14.0311 24.5001 12.5C24.5004 11.6966 24.7771 10.9178 25.2837 10.2943C25.7903 9.67079 26.496 9.24055 27.2822 9.07579C28.0685 8.91102 28.8876 9.02177 29.6019 9.38944C30.3162 9.75711 30.8822 10.3593 31.2051 11.095C31.2351 11.165 31.2601 11.24 31.2901 11.315C31.3403 11.4621 31.4353 11.5897 31.5617 11.6801C31.6881 11.7705 31.8396 11.8191 31.9951 11.8191C32.1505 11.8191 32.302 11.7705 32.4284 11.6801C32.5548 11.5897 32.6498 11.4621 32.7001 11.315C32.7251 11.24 32.7551 11.165 32.7851 11.095C33.1042 10.3532 33.67 9.74458 34.3866 9.37231C35.1032 9.00005 35.9265 8.88702 36.7169 9.0524C37.5073 9.21778 38.2162 9.65139 38.7235 10.2797C39.2307 10.9081 39.5051 11.6925 39.5001 12.5C39.4872 14.0396 39.0956 15.5524 38.3601 16.905C36.9004 19.5182 34.6829 21.6276 32.0001 22.955V22.93Z"
                        fill="white" />
                    <path
                        d="M4.936 43V34.996H10.18V35.884H5.932V38.464H10.096V39.352H5.932V43H4.936ZM15.1217 43V42.34C14.6417 42.868 13.9817 43.144 13.2017 43.144C12.2177 43.144 11.1737 42.484 11.1737 41.224C11.1737 39.928 12.2177 39.316 13.2017 39.316C13.9937 39.316 14.6537 39.568 15.1217 40.108V39.064C15.1217 38.284 14.4977 37.84 13.6577 37.84C12.9617 37.84 12.3977 38.092 11.8817 38.644L11.4617 38.02C12.0857 37.372 12.8297 37.06 13.7777 37.06C15.0017 37.06 16.0217 37.612 16.0217 39.016V43H15.1217ZM15.1217 41.776V40.684C14.7737 40.204 14.1617 39.964 13.5257 39.964C12.6857 39.964 12.0977 40.492 12.0977 41.236C12.0977 41.968 12.6857 42.496 13.5257 42.496C14.1617 42.496 14.7737 42.256 15.1217 41.776ZM19.3738 43L16.9618 37.204H17.9338L19.8658 41.956L21.7858 37.204H22.7698L20.3578 43H19.3738ZM26.2406 43.144C24.4766 43.144 23.3726 41.776 23.3726 40.096C23.3726 38.416 24.4766 37.06 26.2406 37.06C28.0046 37.06 29.1086 38.416 29.1086 40.096C29.1086 41.776 28.0046 43.144 26.2406 43.144ZM26.2406 42.34C27.4766 42.34 28.1606 41.284 28.1606 40.096C28.1606 38.92 27.4766 37.864 26.2406 37.864C25.0046 37.864 24.3086 38.92 24.3086 40.096C24.3086 41.284 25.0046 42.34 26.2406 42.34ZM30.5758 43V37.204H31.4758V38.14C31.9438 37.528 32.6158 37.084 33.4078 37.084V38.008C33.2998 37.984 33.1918 37.972 33.0478 37.972C32.4958 37.972 31.7398 38.428 31.4758 38.896V43H30.5758ZM34.9807 36.232C34.6567 36.232 34.3807 35.956 34.3807 35.62C34.3807 35.284 34.6567 35.02 34.9807 35.02C35.3167 35.02 35.5927 35.284 35.5927 35.62C35.5927 35.956 35.3167 36.232 34.9807 36.232ZM34.5367 43V37.204H35.4367V43H34.5367ZM36.896 40.096C36.896 38.416 38.096 37.06 39.752 37.06C41.504 37.06 42.536 38.428 42.536 40.168V40.396H37.844C37.916 41.488 38.684 42.4 39.932 42.4C40.592 42.4 41.264 42.136 41.72 41.668L42.152 42.256C41.576 42.832 40.796 43.144 39.848 43.144C38.132 43.144 36.896 41.908 36.896 40.096ZM39.74 37.804C38.504 37.804 37.892 38.848 37.844 39.736H41.648C41.636 38.872 41.06 37.804 39.74 37.804ZM45.4578 43.144C44.6058 43.144 44.1738 42.652 44.1738 41.788V37.996H43.2138V37.204H44.1738V35.62H45.0738V37.204H46.2498V37.996H45.0738V41.596C45.0738 42.028 45.2658 42.34 45.6618 42.34C45.9138 42.34 46.1538 42.232 46.2738 42.1L46.5378 42.772C46.3098 42.988 45.9858 43.144 45.4578 43.144ZM47.1851 40.096C47.1851 38.416 48.3851 37.06 50.0411 37.06C51.7931 37.06 52.8251 38.428 52.8251 40.168V40.396H48.1331C48.2051 41.488 48.9731 42.4 50.2211 42.4C50.8811 42.4 51.5531 42.136 52.0091 41.668L52.4411 42.256C51.8651 42.832 51.0851 43.144 50.1371 43.144C48.4211 43.144 47.1851 41.908 47.1851 40.096ZM50.0291 37.804C48.7931 37.804 48.1811 38.848 48.1331 39.736H51.9371C51.9251 38.872 51.3491 37.804 50.0291 37.804ZM58.1948 43V39.208C58.1948 38.188 57.6788 37.864 56.8988 37.864C56.1908 37.864 55.5188 38.296 55.1828 38.764V43H54.2828V37.204H55.1828V38.044C55.5908 37.564 56.3828 37.06 57.2468 37.06C58.4588 37.06 59.0948 37.672 59.0948 38.932V43H58.1948Z"
                        fill="white" />
                </svg>
            </a>

            <a
                href="https://login.funda.nl/account/login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Dfunda-app-js-client%26scope%3Dopenid%2520profile%2520funda_basic%2520funda_login_metadata%2520funda_api%2520offline_access%26response_type%3Dcode%26redirect_uri%3Dhttps%253A%252F%252Fwww.funda.nl%252Ffavorieten%252Fauth%252Foidc%252Fsignin-callback%252F%26code_challenge%3DfShv4ZelQ77ETES4LGbO8Y3OxJMknJ2PE3g85FeSUaY%26code_challenge_method%3DS256%26state%3D057cc41d6cb5cee3083660e22111a1984e36c68e">
                <svg width="55" height="52" viewBox="0 0 55 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="55" height="52" rx="4" fill="none" />
                    <path
                        d="M17 16C17 10.201 21.701 5.5 27.5 5.5C30.2848 5.5 32.9555 6.60625 34.9246 8.57538C36.8938 10.5445 38 13.2152 38 16C38 16.4258 37.9747 16.8457 37.9254 17.2583C37.5136 16.7806 37.0335 16.3634 36.5003 16.022C36.5054 14.9315 36.3122 13.8297 35.9076 12.7704C34.5761 9.28449 31.2315 6.9818 27.5 6.9818C23.7685 6.9818 20.4239 9.28449 19.0924 12.7704C17.761 16.2563 18.7187 20.2023 21.5 22.69V21.25C21.5008 21.1823 21.5109 21.115 21.53 21.05C21.78 19.055 23.685 17.5 26 17.5H27.8762C27.5203 17.9552 27.2237 18.4591 26.9982 19H26C25.8175 19.0011 25.6353 19.0161 25.455 19.045C24.06 19.26 23 20.275 23 21.5V23.78C24.3962 24.5952 25.9586 25.001 27.5202 24.9975C27.862 25.5318 28.2797 26.0129 28.7583 26.4254C28.3457 26.4747 27.9258 26.5 27.5 26.5C21.701 26.5 17 21.799 17 16Z"
                        fill="white" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M23.5 12.5C23.5 10.2909 25.2909 8.5 27.5 8.5C28.5609 8.5 29.5783 8.92143 30.3284 9.67157C31.0786 10.4217 31.5 11.4391 31.5 12.5C31.5 14.7091 29.7091 16.5 27.5 16.5C25.2909 16.5 23.5 14.7091 23.5 12.5ZM25 12.5C25 13.8807 26.1193 15 27.5 15C28.8807 15 30 13.8807 30 12.5C30 11.1193 28.8807 10 27.5 10C26.1193 10 25 11.1193 25 12.5Z"
                        fill="white" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M33.0044 26.5044C35.7658 26.5044 38.0044 24.2658 38.0044 21.5044C38.0044 18.743 35.7658 16.5044 33.0044 16.5044C30.243 16.5044 28.0044 18.743 28.0044 21.5044C28.0044 24.2658 30.243 26.5044 33.0044 26.5044ZM35.0347 19.4741C35.3276 19.767 35.3276 20.2418 35.0347 20.5347L34.0651 21.5044L35.0347 22.4741C35.3276 22.767 35.3276 23.2418 35.0347 23.5347C34.7418 23.8276 34.267 23.8276 33.9741 23.5347L33.0044 22.5651L32.0347 23.5347C31.7418 23.8276 31.267 23.8276 30.9741 23.5347C30.6812 23.2418 30.6812 22.767 30.9741 22.4741L31.9437 21.5044L30.9741 20.5347C30.6812 20.2418 30.6812 19.767 30.9741 19.4741C31.267 19.1812 31.7418 19.1812 32.0347 19.4741L33.0044 20.4437L33.9741 19.4741C34.267 19.1812 34.7418 19.1812 35.0347 19.4741Z"
                        fill="white" />
                    <path
                        d="M4.936 43V34.996H5.932V43H4.936ZM11.6831 43V39.208C11.6831 38.188 11.1671 37.864 10.3871 37.864C9.67909 37.864 9.00709 38.296 8.67109 38.764V43H7.77109V37.204H8.67109V38.044C9.07909 37.564 9.87109 37.06 10.7351 37.06C11.9471 37.06 12.5831 37.672 12.5831 38.932V43H11.6831ZM14.3805 43V34.996H15.2805V43H14.3805ZM19.6078 43.144C17.8438 43.144 16.7398 41.776 16.7398 40.096C16.7398 38.416 17.8438 37.06 19.6078 37.06C21.3718 37.06 22.4758 38.416 22.4758 40.096C22.4758 41.776 21.3718 43.144 19.6078 43.144ZM19.6078 42.34C20.8438 42.34 21.5278 41.284 21.5278 40.096C21.5278 38.92 20.8438 37.864 19.6078 37.864C18.3718 37.864 17.6758 38.92 17.6758 40.096C17.6758 41.284 18.3718 42.34 19.6078 42.34ZM23.931 44.488L24.387 43.816C24.867 44.392 25.443 44.608 26.271 44.608C27.231 44.608 28.131 44.14 28.131 42.868V42.04C27.711 42.628 27.003 43.072 26.187 43.072C24.675 43.072 23.607 41.944 23.607 40.072C23.607 38.212 24.663 37.06 26.187 37.06C26.967 37.06 27.663 37.444 28.131 38.08V37.204H29.031V42.832C29.031 44.752 27.687 45.352 26.271 45.352C25.287 45.352 24.615 45.16 23.931 44.488ZM28.131 41.332V38.8C27.819 38.296 27.123 37.864 26.403 37.864C25.239 37.864 24.543 38.788 24.543 40.072C24.543 41.344 25.239 42.28 26.403 42.28C27.123 42.28 27.819 41.836 28.131 41.332ZM30.8216 44.488L31.2776 43.816C31.7576 44.392 32.3336 44.608 33.1616 44.608C34.1216 44.608 35.0216 44.14 35.0216 42.868V42.04C34.6016 42.628 33.8936 43.072 33.0776 43.072C31.5656 43.072 30.4976 41.944 30.4976 40.072C30.4976 38.212 31.5536 37.06 33.0776 37.06C33.8576 37.06 34.5536 37.444 35.0216 38.08V37.204H35.9216V42.832C35.9216 44.752 34.5776 45.352 33.1616 45.352C32.1776 45.352 31.5056 45.16 30.8216 44.488ZM35.0216 41.332V38.8C34.7096 38.296 34.0136 37.864 33.2936 37.864C32.1296 37.864 31.4336 38.788 31.4336 40.072C31.4336 41.344 32.1296 42.28 33.2936 42.28C34.0136 42.28 34.7096 41.836 35.0216 41.332ZM37.3882 40.096C37.3882 38.416 38.5882 37.06 40.2442 37.06C41.9962 37.06 43.0282 38.428 43.0282 40.168V40.396H38.3362C38.4082 41.488 39.1762 42.4 40.4242 42.4C41.0842 42.4 41.7562 42.136 42.2122 41.668L42.6442 42.256C42.0682 42.832 41.2882 43.144 40.3402 43.144C38.6242 43.144 37.3882 41.908 37.3882 40.096ZM40.2322 37.804C38.9962 37.804 38.3842 38.848 38.3362 39.736H42.1402C42.1282 38.872 41.5522 37.804 40.2322 37.804ZM48.3979 43V39.208C48.3979 38.188 47.8819 37.864 47.1019 37.864C46.3939 37.864 45.7219 38.296 45.3859 38.764V43H44.4859V37.204H45.3859V38.044C45.7939 37.564 46.5859 37.06 47.4499 37.06C48.6619 37.06 49.2979 37.672 49.2979 38.932V43H48.3979Z"
                        fill="white" />
                </svg>
            </a>
        </div>
    </nav>

    <body>

        <script>

            // de button en links aanspreken
            const toggleBtn = document.getElementById('toggle-menu');
            const navLinks = document.getElementById('nav-links');


            // een click event toevoegen op het menu waardoor er na de klik een extra class name wordt toegevoegd en het menu wordt geopend
            toggleBtn.addEventListener('click', () => {
                navLinks.classList.toggle('show');
            });
        </script>