{% render 'partials/header.liquid' %}

<section class="listing-images-container">
    <img class="listing-image" src="#">
    <div class="small-listing-images">
        <img src="#">
        <img src="#">
        <img src="#">
    </div>

</section>

<section class="title-section">
    <h1>Zwembadlaantje 1</h1>
    <p>8151 PT Lemelerveld
        <a href="https://www.funda.nl/informatie/lemelerveld/lemelerveld-kern-oost/">Lemelerveld kern oost</a>
    </p>
</section>

