{% render 'partials/header.liquid' %}


<main>
    <div class="carousel">
        <div class="carousel-slide" data-label="Slide 1">
            <img src="https://fdnd-agency.directus.app/assets/{{ house.poster_image }}?height=320&width=375">
        </div>

        <div class="carousel-slide" data-label="Slide 2">
            <img src="/images/plattegrond.png" width="375" height=320>
        </div>

        <div class="carousel-slide" data-label="Slide 3">
            <video controls width="375" height=320>
                <source src="https://www.funda.nl/detail/koop/diemen/huis-prinses-beatrixlaan-12/43054594/media/video/1" type="video/mp4">
            </video>
        </div>

        <div class="carousel-slide" data-label="Slide 4">
            <img src="/images/afbeelding1.png" width="375" height=320>
        </div>

        <div class="carousel-slide" data-label="Slide 5">
            <img src="/images/afbeelding2.png" width="375" height=320>
        </div>
    </div>

    