* {
    margin: 0;
    font-family: 'Proxima Nova', sans-serif;
}

.nav-bar {
    background-color: #FF9B21;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
    height: 3.75rem;
    padding-right: .25rem;
    padding-left: .25rem;
    padding-top: .75rem;
    padding-bottom: .75rem;

    .hamburger-menu {
        background: none;
        border: none;

        svg {
            z-index: 10;
            position: relative;
        }

        .nav-links {
            z-index: -1;
            position: absolute;
        }

    }

    .logo {
        width: 88px;
        height: 32px;
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    .hidden-nav-links {
        opacity: 0;
    }

    .nav-buttons {
        margin-left: auto;
        display: flex;
        flex-direction: row;

        a {
            text-decoration: none;
        }
    }
}

@media (min-width: 760px) {
    .nav-bar {
        .hamburger-menu {
            display: none;
        }

        .nav-links {
            z-index: 10;
        }

        .logo {
            padding-left: 1rem;
        }

        .nav-buttons {
            padding-right: 1rem;
        }


        .hidden-nav-links {
            opacity: 1;
            list-style-type: none;
            gap: .5rem;
            align-items: center;


            a {
                text-decoration: none;
                color: white;
                padding: .625rem .5rem;
            }

        }
    }

}